@model IEnumerable<BetManager.Core.DbModels.Tip>

@{
    ViewBag.Title = "Tipy";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#panel-filter">Filtry</a>
      </div>
      <div id="panel-filter" class="panel-body panel-collapse collapse in">
        <div class="form-group col-md-4">
          <label class="control-label" for="datepickerFrom">Datum od</label>
            <div class="input-group date" id="datepickerFrom">
              @Html.TextBox("DateFrom", (ViewBag.DateFrom != null ? ((DateTime?)ViewBag.DateFrom).Value.ToShortDateString() : string.Empty), new { @class = "form-control" })
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
        </div>
        <div class="col-md-4">
          <label for="FormFrom">Forma od</label>
          @Html.TextBox("FormFrom", (ViewBag.FormFrom != null ? ((decimal?)ViewBag.FormFrom).Value.ToString() : string.Empty), new { @class = "form-control" })
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary">Hledat</button>
        </div>
      </div>
    </div>
}

<table id="example" class="table table-striped table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <td>
        @Html.DisplayNameFor(model => model.DisplayName)
      </td>
      <td>
        @Html.DisplayNameFor(model => model.DateStart)
      </td>
      <td>
        @Html.DisplayNameFor(model => model.Form)
      </td>
      <td>
        @Html.DisplayNameFor(model => model.Odd)
      </td>
      <td></td>
    </tr>

  </thead>
  <tbody>
    @foreach (var item in Model)
    {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.DisplayName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.DateStart)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Form)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Odd)
      </td>
      <td>
        @Html.ActionLink("Detail", "Detail", new { id = item.ID })
      </td>
    </tr>

    }
  <tbody>
</table>

@section scripts {
  <script type="text/javascript">
      $(document).ready(function () {

          $('#datepickerFrom').datetimepicker({
              locale: 'cs',
              format: 'L'
          });

          $('#example').DataTable({
              order: [[1, "asc"]],
              responsive: true,
              createdRow: function (row, data, dataIndex) {
                  // uprava radku pri renderu
                  $(row).addClass('important');
              }
          });
      });
  </script>
}

