@model BetManager.Web.Controllers.Tips.Detail.DetailTipViewModel

@{
    ViewBag.Title = string.Format("[{0}] {1}", Model.Category, Model.DisplayName);
    ViewBag.EnCulture = new System.Globalization.CultureInfo("en-US");
}

@Styles.Render("~/Content/morris")

<div class="row">
  <h2>@ViewBag.Title</h2>

</div>

<div class="row">
  <p>
    @Html.ActionLink("Zpět na tipy", "Index", "Tip", null, new { @class = "btn btn-primary" })
  </p>
</div>

<div class="form-horizontal">

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#panel-basic">
          <h4 class="">Základní info</h4>
        </a>
      </div>
      <div id="panel-basic" class="panel-body panel-collapse collapse in">
        <div class="row">
          <div class="form-group col-md-6">
            <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.Url)</label>
            <div class="col-md-7">
              <p class="form-control-static">
                <a href="@Html.ValueFor(model => model.Url)" target="_blank">www.sofascore.com</a>
              </p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.DisplayName)</label>
            <div class="col-md-7">
              <p class="form-control-static">@Html.DisplayFor(model => model.DisplayName)</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.Season)</label>
            <div class="col-md-7">
              <p class="form-control-static">@Html.DisplayFor(model => model.Season)</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.Category)</label>
            <div class="col-md-7">
              <p class="form-control-static">@Html.DisplayFor(model => model.Category)</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.DateStart)</label>
            <div class="col-md-7">
              <p class="form-control-static">@Html.DisplayFor(model => model.DateStart)</p>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.PredictTip)</label>
            <div class="col-md-7">
              <p class="form-control-static">@Html.DisplayFor(model => model.PredictTip)</p>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.Odd)</label>
            <div class="col-md-7">
              <p class="form-control-static">@Html.DisplayFor(model => model.Odd)</p>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.WinnerCode)</label>
            <div class="col-md-7">
              <p class="form-control-static">@Html.DisplayFor(model => model.WinnerCode)</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#panel-tip">
          <h4 class="">Tipy</h4>
        </a>
      </div>
      <div id="panel-tip" class="panel-body panel-collapse collapse in">
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a data-toggle="collapse" href="#panel-bet-1x2">
                  <h5 class="">Odhady 1x2</h5>
                </a>
              </div>
              <div id="panel-bet-1x2" class="panel-body panel-collapse collapse in" style="height: 200px">
                <div class="row">
                  <div class="col-md-12">
                    <label>Odhady</label>
                    <div class="progress input-group-lg">
                      <div class="progress-bar @(Model.Home > Model.Draw && Model.Home > Model.Away ? "progress-bar-success" : Model.Home < Model.Draw && Model.Home < Model.Away ? "progress-bar-danger" : "progress-bar-warning")" style="width: @Model.Home.ToString("##", ViewBag.EnCulture)%">
                        <span>@Html.DisplayFor(model => model.Home) %</span>
                      </div>
                      <div class="progress-bar @(Model.Draw > Model.Home && Model.Draw > Model.Away ? "progress-bar-success" : Model.Draw < Model.Home && Model.Draw < Model.Away ? "progress-bar-danger" : "progress-bar-warning")" style="width: @Model.Draw.ToString("##", ViewBag.EnCulture)%">
                        <span>@Html.DisplayFor(model => model.Draw) %</span>
                      </div>
                      <div class="progress-bar @(Model.Away > Model.Draw && Model.Away > Model.Home ? "progress-bar-success" : Model.Away < Model.Draw && Model.Away < Model.Home ? "progress-bar-danger" : "progress-bar-warning")" style="width: @Model.Away.ToString("##",ViewBag.EnCulture)%">
                        <span>@Html.DisplayFor(model => model.Away) %</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label>Kurzy (Bet365)</label>
                    <div class="progress">
                      <div class="progress-bar @(Model.HomePercent > Model.DrawPercent && Model.HomePercent > Model.AwayPercent ? "progress-bar-success" : Model.HomePercent < Model.DrawPercent && Model.HomePercent < Model.AwayPercent ? "progress-bar-danger" : "progress-bar-warning")" style="width: @Model.HomePercent.ToString("##",ViewBag.EnCulture)%">
                        <span>@Html.DisplayFor(model => model.HomePercent) %</span>
                      </div>
                      <div class="progress-bar @(Model.DrawPercent > Model.HomePercent && Model.DrawPercent > Model.AwayPercent ? "progress-bar-success" : Model.DrawPercent < Model.HomePercent && Model.DrawPercent < Model.AwayPercent ? "progress-bar-danger" : "progress-bar-warning")" style="width: @Model.DrawPercent.ToString("##",ViewBag.EnCulture)%">
                        <span>@Html.DisplayFor(model => model.DrawPercent) %</span>
                      </div>
                      <div class="progress-bar @(Model.AwayPercent > Model.DrawPercent && Model.AwayPercent > Model.HomePercent ? "progress-bar-success" : Model.AwayPercent < Model.DrawPercent && Model.AwayPercent < Model.HomePercent ? "progress-bar-danger" : "progress-bar-warning")" style="width: @Model.AwayPercent.ToString("##",ViewBag.EnCulture)%">
                        <span>@Html.DisplayFor(model => model.AwayPercent) %</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                        @if (Model.FirstId.HasValue)
                        {
                            @Html.Raw(string.Format("<a href=\"http://www.bet365.com/instantbet/default.asp?participantid={0}\" target=\"_blank\" class=\"btn btn-default {1}\">", Model.FirstId, Model.PredictTip == 1 ? "btn-success" : ""))
                        }
                        @Html.DisplayFor(model => model.FirstValue)
                        @if (Model.FirstId.HasValue)
                        {
                            @Html.Raw("</a>")
                        }
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                        @if (Model.XId.HasValue)
                        {
                            @Html.Raw(string.Format("<a href=\"http://www.bet365.com/instantbet/default.asp?participantid={0}\" target=\"_blank\" class=\"btn btn-default {1}\">", Model.XId, Model.PredictTip == 3 ? "btn-success" : ""))
                        }
                        @Html.DisplayFor(model => model.Xvalue)
                        @if (Model.FirstId.HasValue)
                        {
                            @Html.Raw("</a>")
                        }
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                        @if (Model.SecondId.HasValue)
                        {
                            @Html.Raw(string.Format("<a href=\"http://www.bet365.com/instantbet/default.asp?participantid={0}\" target=\"_blank\" class=\"btn btn-default {1}\">", Model.SecondId, Model.PredictTip == 2 ? "btn-success" : ""))
                        }
                        @Html.DisplayFor(model => model.SecondValue)
                        @if (Model.FirstId.HasValue)
                        {
                            @Html.Raw("</a>")
                        }
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a data-toggle="collapse" href="#panel-bet-uu">
                  <h5 class="">Odhady nad/pod</h5>
                </a>
              </div>
              <div id="panel-bet-uu" class="panel-body panel-collapse collapse in" style="height: 200px">
                <div class="row">
                  <div class="col-md-12">
                    <label>1.5- / 1.5+</label>
                    <div class="progress input-group-lg">
                      <div class="progress-bar @(Model.OneAndHalfMinus > Model.OneAndHalfPlus ? "progress-bar-success" : "progress-bar-danger")" style="width: @Model.OneAndHalfMinus.ToString("##", ViewBag.EnCulture)%">
                        <span>@Html.DisplayFor(model => model.OneAndHalfMinus) %</span>
                      </div>
                      <div class="progress-bar @(Model.OneAndHalfPlus > Model.OneAndHalfMinus ? "progress-bar-success" : "progress-bar-danger")" style="width: @Model.OneAndHalfPlus.ToString("##",ViewBag.EnCulture)%">
                        <span>@Html.DisplayFor(model => model.OneAndHalfPlus) %</span>
                      </div>
                    </div>
                    <label>2.5- / 2.5+</label>
                    <div class="progress input-group-lg">
                      <div class="progress-bar @(Model.TwoAndHalfMinus > Model.TwoAndHalfPlus ? "progress-bar-success" : "progress-bar-danger")" style="width: @Model.TwoAndHalfMinus.ToString("##",ViewBag.EnCulture)%">
                        <span>@Html.DisplayFor(model => model.TwoAndHalfMinus) %</span>
                      </div>
                      <div class="progress-bar @(Model.TwoAndHalfPlus > Model.TwoAndHalfMinus ? "progress-bar-success" : "progress-bar-danger")" style="width: @Model.TwoAndHalfPlus.ToString("##",ViewBag.EnCulture)%">
                        <span>@Html.DisplayFor(model => model.TwoAndHalfPlus) %</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a data-toggle="collapse" href="#panel-bet-progress">
                  <h5 class="">Progress</h5>
                </a>
              </div>
              <div id="panel-bet-progress" class="panel-body panel-collapse collapse in" style="height: 200px">
                <div class="row">
                  <div class="col-md-12"
                    <div id="morris-area-chart" style="height: 180px"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" href="#panel-goal-detail">
              <h4 class="">Odhad skóre</h4>
            </a>
          </div>
          <div id="panel-goal-detail" class="panel-body panel-collapse collapse in">
            @Html.Partial("_DetailGoal", Model.Goals)
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" href="#panel-poisson-detail">
              <h5 class="">Odhad gólů</h5>
            </a>
          </div>
          <div id="panel-poisson-detail" class="panel-body panel-collapse collapse in">
            @Html.Partial("_DetailPoisson", Model.Poissons)
          </div>
        </div>

        @*<div class="panel panel-default">
            <div class="panel-heading">
              <a data-toggle="collapse" href="#panel-poisson-detail">
                <h4 class="">Odhad ze všech sezón</h4>
              </a>
            </div>
            <div id="panel-poisson-detail" class="panel-body panel-collapse collapse in">
              @Html.Partial("_DetailPoisson", Model.PoissonHistories)
            </div>
          </div>*@

      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#panel-7-detail">
          <h4 class="">Stav za posledních 7 zápasů</h4>
        </a>
      </div>
      <div id="panel-7-detail" class="panel-body panel-collapse collapse in">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="">Domácí - @Html.DisplayFor(model => model.HomeTeam)</h5>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.HomeLastForm)</label>
                <div class="col-md-7">
                  <p class="form-control-static">@Html.DisplayFor(model => model.HomeLastForm) %</p>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.HomeLastGiven)</label>
                <div class="col-md-7">
                  <p class="form-control-static">@Html.DisplayFor(model => model.HomeLastGiven)</p>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.HomeLastTaken)</label>
                <div class="col-md-7">
                  <p class="form-control-static">@Html.DisplayFor(model => model.HomeLastTaken)</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="">Hosté - @Html.DisplayFor(model => model.AwayTeam)</h5>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.AwayLastForm)</label>
                <div class="col-md-7">
                  <p class="form-control-static">@Html.DisplayFor(model => model.AwayLastForm) %</p>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.AwayLastGiven)</label>
                <div class="col-md-7">
                  <p class="form-control-static">@Html.DisplayFor(model => model.AwayLastGiven)</p>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.AwayLastTaken)</label>
                <div class="col-md-7">
                  <p class="form-control-static">@Html.DisplayFor(model => model.AwayLastTaken)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#panel-season-detail">
          <h4 class="">Stav za celou sezónu</h4>
        </a>
      </div>
      <div id="panel-season-detail" class="panel-body panel-collapse collapse in">
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="">Domácí - @Html.DisplayFor(model => model.HomeTeam)</h5>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.HomeSeasonForm)</label>
                  <div class="col-md-7">
                    <p class="form-control-static">@Html.DisplayFor(model => model.HomeSeasonForm) %</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.HomeSeasonGiven)</label>
                  <div class="col-md-7">
                    <p class="form-control-static">@Html.DisplayFor(model => model.HomeSeasonGiven)</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.HomeSeasonTaken)</label>
                  <div class="col-md-7">
                    <p class="form-control-static">@Html.DisplayFor(model => model.HomeSeasonTaken)</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.HomeSeasonCount)</label>
                  <div class="col-md-7">
                    <p class="form-control-static">@Html.DisplayFor(model => model.HomeSeasonCount)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="">Hosté - @Html.DisplayFor(model => model.AwayTeam)</h5>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.AwaySeasonForm)</label>
                  <div class="col-md-7">
                    <p class="form-control-static">@Html.DisplayFor(model => model.AwaySeasonForm) %</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.AwaySeasonGiven)</label>
                  <div class="col-md-7">
                    <p class="form-control-static">@Html.DisplayFor(model => model.AwaySeasonGiven)</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.AwaySeasonTaken)</label>
                  <div class="col-md-7">
                    <p class="form-control-static">@Html.DisplayFor(model => model.AwaySeasonTaken)</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-5 control-label">@Html.DisplayNameFor(model => model.AwaySeasonCount)</label>
                  <div class="col-md-7">
                    <p class="form-control-static">@Html.DisplayFor(model => model.AwaySeasonCount)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section scripts {
  @Scripts.Render("~/bundles/morris")

  <script type="text/javascript">
      $(document).ready(function () {
          var chart = Morris.Line({
              element: 'morris-area-chart',
              xkey: 'DatePredict',
              ykeys: ['Home', 'Away'],
              labels: ['Domácí', 'Hosté'],
              pointSize: 2,
              hideHover: 'auto',
              yLabelFormat: function (y) { return y.toFixed(1); },
              dateFormat: function (x) { return moment(x).format("YYYY-MM-DD"); },
              resize: true
          }).on('click', function (i, row) {
              window.graphDate = row.DatePredict;
              datatable.ajax.reload();
          });

          $.ajax({
              type: "POST",
              url: "/api/progress",

              data: {
                  ID: @Model.ID
              },
              success: function (data) {
                  if (data) {
                      chart.setData(data);
                  }
              }
          });
      });
  </script>
}
